/* Aggregator: keep legacy imports pointing to split CSS bundles */
@import url('./base.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./effects.css');
@import url('./pages/home.css');
